<html>
<head>
  <title>Express | Alumni Sign Up</title>
</head>
<body>
  <div class="container">
  <br>
    <div class="panel">
      <div class="panel-body">
        <h2>Create An Account</h2>

        <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

            <%= f.email_field :email %>

            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>

            <%= f.password_field :password_confirmation, autocomplete: "off" %>

            <%= f.text_field :first_name %>

            <%= f.text_field :last_name %>

            <%= f.text_field :company %>
          
            <%= f.text_field :position %>

            <%= f.text_field :grad_year %>

            <div id="accessCode" class="form-group" >
              <label class="control-label">Access Code</label>
              <input type="text" class="form-control" id="line">
            </div>

            <%= f.submit "Sign up" %>

        <% end %>

        <%= render "employers/shared/links" %>
      </div>
    </div> 
  </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
  $("form").submit(function(e) 
  {
    if($('#line').val() != 'bantamalum')
    {
      alert("Sorry, the access code you entered is incorrect.");
      e.preventDefault();
      return false;
    }
  });

  $('#line').blur(function(){
      if($('#line').val() == 'bantamalum')
      {
        $('#accessCode').removeClass('has-error');
        $('#accessCode').addClass('has-success');
      }
      else
      {
        $('#accessCode').removeClass('has-success');
        $('#accessCode').addClass('has-error');
      }
    }
  );
</script>
</body>
</html>

