<!DOCTYPE html>
<html>
<head>
  <% if student_signed_in? %>
    <p>Welcome Student <%= current_student.birthday %></p>
    <%= link_to 'Logged In [click to logout]', destroy_student_session_path, :method => :delete %>
    <%= link_to 'edit profile', edit_student_registration_path%>
  <% else %>
    <p>Student is not signed in.</p>
    <%= link_to 'Login', new_student_session_path %>
  <% end %>
  
  <% if employer_signed_in? %>
     <p>Welcome employer <%= current_employer.company %></p>
     <%= link_to 'Logged In [click to logout]', destroy_employer_session_path, :method => :delete %>
     <%= link_to 'edit profile', edit_employer_registration_path%>
   <% else %>
     <p>employer is not signed in.</p>
     <%= link_to 'Login', new_employer_session_path %>
   <% end %>
   
  <title>Express</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
