<div class="container">
  <br>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>
          <%= @student.first_name %> <%= @student.last_name %> 
        </h1>

        <p>
          <% if @student.linkedin_link %>
            <a href="<%= @student.linkedin_link %>"><i class="fa fa-linkedin fa-2x"></i></a>

          <% elsif @student.linkedin_link %>

          <% else %>
            <%= link_to "Connect to LinkedIn", omniauth_authorize_path(current_student, :linkedin) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="panel panel-primary">
      <div class="panel-heading">Edit Login</div>
        <div class="panel-body">
          <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

              <%= f.email_field :email %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

              <%= f.password_field :password, autocomplete: "off", help: "(leave blank if you don't want to change it)" %>

              <%= f.password_field :password_confirmation, autocomplete: "off" %>

              <%= f.password_field :current_password, autocomplete: "off", help: "(we need your current password to confirm your changes)" %>

              <%= f.primary "Update" %>

          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-primary">
      <div class="panel-heading">Personal Info</div>
        <div class="panel-body">
          <%= bootstrap_form_for @student do |f|%>
            <%= f.text_field :cell_number %>
          
            <%= f.text_field :home_number %>

            <%= f.primary %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-danger">
      <div class="panel-heading">Delete Account</div>
        <div class="panel-body">
          <p>Have enough resumes? Already hired? <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-primary">
    <div class="panel-heading">Personal Info</div>
      <div class="panel-body">
        <%= bootstrap_form_for @student do |f|%>

          <%= f.text_field :first_name %>

          <%= f.text_field :last_name %>
          
          <%= f.text_field :skill %>
          
          <%= f.text_field :experience %>
          
          <%= f.primary %>

        <%end%>

      </div>
    </div>
    <div class="panel panel-primary">
    <div class="panel-heading">School Info</div>
      <div class="panel-body">
        <%= bootstrap_form_for @student do |f|%>
          <%= f.text_field :gpa, label: "GPA" %>

          <%= f.text_field :major %>
          
          <%= f.text_field :minor %>
          
          <%= f.text_field :grad_year %>

          <%= f.text_field :sport %>

          <%= f.text_field :leadership %>

          <%= f.primary %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-primary">
    <div class="panel-heading">Location Info</div>
      <div class="panel-body">
        <%= bootstrap_form_for @student do |f|%>

          <%= f.text_field :street_address %>
          
          <%= f.text_field :city %>
          
          <%= f.text_field :state %>
          
          <%= f.text_field :zip %>

          <%= f.primary %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>