<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
  <br>
  <div class="panel">
    <div class="panel-body">
      <h2 class="text-center">Sign Up</h2>
      <br>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <%= f.text_field :first_name, autofocus: true, class: "input-md" %>

          <%= f.text_field :last_name, autofocus: true, class: "input-md" %>

          <%= f.email_field :email, autofocus: true, class: "input-lg" %>

          <%= f.password_field :password, autocomplete: "off", class: "input-md", help: "(8 characters minimum)" %>

          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-md" %>

          <%= f.date_field :birthday %>

          <%= f.primary "Sign up" %>
      <% end %>
      <br>
      <%= render "students/shared/links" %>
    </div>
  </div>
</div>